---
---

/* 0) Skin (colors only) */
@import "minimal-mistakes/skins/default";

/* 1) Make the site wide */
$max-width:     1800px;   /* outer container */
$content-width: 1200px;   /* readable text column */
$right-sidebar-width: 0; 

/* system typefaces */
$serif: Lora, Georgia, Times, serif !default;
$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia: Georgia, serif !default;
$times: Times, serif !default;
$bodoni: "Bodoni MT", serif !default;
$calisto: "Calisto MT", serif !default;
$garamond: Garamond, serif !default;

$global-font-family           : $sans-serif !default;
$header-font-family           : $sans-serif !default;
$caption-font-family          : $sans-serif !default;

/* type scale */
$type-size-1: 2.441em !default;
$type-size-2: 1.953em !default;
$type-size-3: 1.563em !default;
$type-size-4: 1.25em !default;
$type-size-5: 1.1em !default;
$type-size-6: 0.8em !default;
$type-size-7: 0.8em !default;
$type-size-8: 0.625em !default;

/* headline scale */
$h-size-1: 1.563em !default;
$h-size-2: 1.25em !default;
$h-size-3: 1.125em !default;
$h-size-4: 1.0625em !default;
$h-size-5: 1.03125em !default;
$h-size-6: 1em !default;


/* 2) Load theme AFTER overriding variables */
@import "minimal-mistakes";

html {
    font-size: 12px; // change to whatever
  
    @include breakpoint($medium) {
      font-size: 14px; // change to whatever
    }
  
    @include breakpoint($large) {
      font-size: 16px; // change to whatever
    }
  
    @include breakpoint($x-large) {
      font-size: 18px; // change to whatever
    }
  }

/* unify table text with normal body text */
table,
table th,
table td {
  font-family: $global-font-family !important;
  font-size: 1em !important;   /* match body size */
  font-weight: normal;
}


/* 3) Absolutely remove any reserved sidebar space on single pages */
.layout--single .sidebar,
.layout--single .page__sidebar,
.layout--single .sticky { display: none !important; }

/* 4) Force the page to stop using the theme's calc(... - $right-sidebar-width) */
/* Page width = content width */
.layout--single #main > .page {
  float: none !important;
  width: 100% !important;
  max-width: $content-width !important;
  margin: 0 auto !important;
}



/* hide prev/next pager under pages/posts */
.pagination { display: none !important; }


@import "footer";