---
layout: single
---

<article class="person-page">
  <header class="person-header">
    <div class="person-header-photo">
      <img src="{{ page.photo | relative_url }}" alt="{{ page.name }}">
    </div>
    <div class="person-header-text">
      <!-- <p class="person-header-meta">
        {% case page.role %}
          {% when "pi"  %} Professor
          {% when "postdoc"  %} Postdoc
          {% when "phd" %} Ph.D. Student
          {% when "ms"  %} M.S. Student
        {% endcase %}
        ({{ page.joined }}~)
      </p> -->
      <div class="person-info">
        {% if page.role %}
            <p class="person-degree">
            {% case page.role %}
                {% when "pi" %} Professor
                {% when "postdoc" %} Postdoctoral Fellow
                {% when "phd" %} Ph.D. Student
                {% when "ms" %} M.S. Student
            {% endcase %}
            </p>
        {% endif %}
        {% if page.office %}
        <p><strong>Office:</strong> {{ page.office }}</p>
        {% endif %}
        {% if page.email %}
        <p><strong>E-mail:</strong> <a href="mailto:{{ page.email }}">{{ page.email }}</a></p>
        {% endif %}
    </div>
    </div>
  </header>

  <div class="page__content">
    {{ content }}
  </div>
</article>
